.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-gap: 10px; */
  
}

.dashboard-card {
  background: #fff;
  height: 100px;
  width: fit-content;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  justify-items: center; 
  display: inline-block; 
  margin: 0px;
}

.dashboard-card h3 {
  margin-bottom: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #fff;

}

.main-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #fff;

}

/* .dashboard-cards-2 {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
} */

.dashboard-card-2 {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center;  */
  /* text-align: center;  */
  margin-top: 50px;
  margin: 5px;
  background: #fff;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 2px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /* justify-items: center; */
}

.dashboard-card-2 h2 {
  margin-bottom: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dashboard-card-2 table {
  margin-bottom: 20px;
}

/* / ////////////////////Table///////////////////// / */
table {
  width: 100%;
  border-spacing: 0;
  background-color: #FFFFFF;
  font-size: 14px;
}

thead th {
  color: #7A7A7A;
  text-align: left;
  background-color: #F9FAFC;
}

thead th,
tbody td {
  padding: 14px;
  border: 0;
  border-bottom: 1px solid #E7E7E7;
}

tbody td:first-child {
  border-left: 4px solid transparent;
  transition: all ease 0.3s;
}

tbody tr:last-child td {
  border-bottom: 0;
}

tbody tr:hover {
  background-color: #F7F9FC;
}

tbody tr:hover td:first-child {
  border-left-color: #0F6FDE;
}

td.status {
  text-align: center;
}

td.status span {
  font-size: 12px;
  border-radius: 3px;
  padding: 4px 8px;
}

td.status span.approved {
  color: #FFFFFF;
  background-color: #00C455;
}

td.status span.decline {
  color: #FFFFFF;
  background-color: #F13426;
}

td.status span.pending {
  color: #132D4A;
  background-color: #EBF0F5;
}

#toggleView:checked~table thead {
  display: none;
}

#toggleView:checked~table tbody {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
}

#toggleView:checked table tbody tr,
#toggleView:checked table tbody td {
  display: block;
  border: 0;
}

#toggleView:checked~table tbody td {
  padding: 4px;
  font-weight: bold;
}

#toggleView:checked~table tbody td:before {
  content: attr(data-name);
  width: 100px;
  display: inline-block;
  text-transform: capitalize;
  font-weight: normal;
}

#toggleView:checked~table tbody td.status {
  position: absolute;
  top: 4px;
  right: 4px;
}

#toggleView:checked~table tbody tr {
  position: relative;
  width: calc(50% - 8px);
  border: 1px solid #E7E7E7;
  padding: 8px;
  margin: 4px;
}