.user-information-title {
    color: cadetblue;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 50px;
}

.user-dashboard-table {
    margin-top: 40px;
    border: 6px solid yellowgreen;
}


.user-dashboard {
    display: flex;
  }
    
 .main-content {
   flex-grow: 1; 
  }
  


  /* User DASHBOARD */



  .user-dashboard-card-11 {
    background: #fff;
    height: auto;
    width: 100%;
    /* border: 2px solid yellow; */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    justify-items: center;
    margin-left: 2px;
    margin-top: 20px;
  }


  .user-dashboard-card-12 {
    background: #fff;
    height: 302px;
    width: 100%;
    /* border: 2px solid yellow; */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    justify-items: center;
    margin-left: 2px;
    margin-top: 30px;
  }


